<ion-view view-title="Olamigo">
  <ion-content has-header="true">


<div class="list">

	   <label class="item item-input item-select">
    <div class="input-label">
      Categoria:
    </div>
    <select>
      <option>Blue</option>
      <option selected>Green reen reen</option>
      <option>Red</option>
    </select>
  </label>

    <a class="item item-thumbnail-left" href="#/app/acontecendo_show/{{atividade.obj.face_id}}" ng-repeat="atividade in atividades">
      <img src="cover.jpg">
      <h3>{{atividade.obj.name}}</h3>
      <h3>{{atividade.obj.face_id}}</h3>
    </a>


    
</div>

  </ion-content>
</ion-view>

