<ion-view view-title="Gostos">
  <ion-content>
    <ion-list>

  <div ng-repeat="gosto1 in gostos2" class="row" style="margin-bottom:5px">

    <div  class="item item-body col {{item.color}}" ng-repeat="item in gosto1" ng-show="item.nome != NULL" style="  margin: 8px;" ng-click="change(item.nome, item)">
        <img class="full-image" src="{{item.image}}">
      <p>
       {{item.nome}}
      </p>
    </div>
    </div>
 </div>



<div class="list ">
  <button class="button button-block button-positive" ng-click="submit()">
  Save
</button>



    </ion-list>
  </ion-content>
</ion-view>
